<html>
  <head>
    <title>FBot app</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="all">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
         
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <a href='/site/2/forums'>rsdn.ru</a>
          <a href='/site/3/forums'>lor</a>
          <a href='/site/6/forums'>sql.ru</a>
          <a href='/site/7/forums'>dxdy.ru</a>
          <a href='/site/8/forums'>damagelab</a>
          <a href='/site/9/forums'>bitcointalk</a>
        </div>
        <div class="col-xs-6">
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= content %>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
